

<div class="row">
    <div class="col-sm-auto">
        <p>Asset Name</p>
    </div>
    <div class="col-sm-auto">
        <p>Average Return</p>
    </div>
    <div class="col-sm-auto">
        <p>Std Deviation</p>
    </div>
    <div class="col-sm-auto">
        <p>Allocation %</p>
    </div>
    <div class="col-sm-auto">

    </div>
</div>

<div class="row">
    <div class="col-sm-auto">
        <AssetInput />
    </div>
    <div class="col-sm-auto">
        <button>Add</button>
    </div>
</div>




@code {

    

    //TODO Build component to allow customization of portfolio based on asset classes or manually inputed investments

    //main component creates list of assets that can be added to?

}
