
@inject StateContainer StateContainer
@implements IDisposable

<br />

@if (StateContainer.InputReceived)
{
    <h3>Processing Monte Carlo</h3>
}
else
{
    <h3>Please provide input</h3>
}



@code {      





    protected override void OnInitialized()

    {
        StateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }


}
