
@inject StateContainer StateContainer
@implements IDisposable

<br />

@if (StateContainer.InputReceived)
{


    GetInputFromStateContainer();

    MonteCarloSim.RunNumSimulations(5000);

   


    <table class="table-dark" >
        <tr>
            <td>No. of Simulations</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Success % </td>
            <td>@($"{MonteCarloSim.SuccessRate:P2}")</td>
        </tr>
        <tr>
            <td>Average Result</td>
            <td>@($"{ MonteCarloSim.AverageResult:C2}")</td>
            
        </tr>
        <tr>
            <td>Worst Result</td>
            <td>@($"{MonteCarloSim.MinResult:C2}")</td>
        </tr>
        <tr>
            <td>Best Result</td>
            <td>@($"{MonteCarloSim.MaxResult:C2}")</td>
        </tr>
    </table>

    

}
else
{
    <h4>Waiting for input</h4>
}



@code {

    private int InitialValue { get; set; }

    public int AnnualWithdraw { get; set; }

    public int TimePeriod { get; set; }

    public string Rebalance { get; set; }

    public double AverageReturn { get; set; }

    public double StdDeviation { get; set; }

    private MonteCarlo MonteCarloSim = new MonteCarlo();

    public string testString { get; set; } = "Test";

    private void GetInputFromStateContainer()
    {
        InitialValue = StateContainer.InitialValue;
        AnnualWithdraw = StateContainer.AnnualWithdraw;
        TimePeriod = StateContainer.TimePeriod;
        Rebalance = StateContainer.Rebalance;
        AverageReturn = StateContainer.AverageReturn;
        StdDeviation = StateContainer.StdDeviation;

        MonteCarloSim = new MonteCarlo(InitialValue, AnnualWithdraw, TimePeriod, Rebalance,
                       AverageReturn, StdDeviation);

        //testString = MonteCarloSim.ReturnSample();
    }

    private void StringTest()
    {
        testString = "Changed";
    }

    protected override void OnInitialized()

    {
        StateContainer.OnChange += StateHasChanged;

    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }


}
