
@inject StateContainer StateContainer
@implements IDisposable

<br />

@if (StateContainer.InputReceived)
{


    GetInputFromStateContainer();

    MonteCarloSim.RunNumSimulations(5000);

   


    <table class="table-dark" >
        <tr>
            <td>No. of Simulations</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Success % </td>
            <td>@($"{MonteCarloSim.SuccessRate:P2}")</td>
        </tr>
        <tr>
            <td>Average Result</td>
            <td>@($"{ MonteCarloSim.AverageResult:C2}")</td>
            
        </tr>
        <tr>
            <td>Worst Result</td>
            <td>@($"{MonteCarloSim.MinResult:C2}")</td>
        </tr>
        <tr>
            <td>Best Result</td>
            <td>@($"{MonteCarloSim.MaxResult:C2}")</td>
        </tr>
    </table>

    

}
else
{
    <h4>Waiting for input</h4>
}



