@page "/userinput"

@inject StateContainer StateContainer
@implements IDisposable

<br />

<h6>Please enter input below.  Input validation has not been implemented yet so be sure to follow instructions</h6>

<h6>Also sorry for the lack of styling, it is next on my todo list after validation and we finish our html and css module</h6>


<div>

    <br />
    <br />

    <table>
        <tr>
            <td>Portfolio Amount</td>
            <td><input placeholder="Enter Whole Integer" @bind="getPortfolioAmount" /></td>
            <td>The starting amount for investment portfolio</td>
        </tr>
        <tr>
            <td>Annual Investment Amount</td>
            <td><input placeholder="Enter Whole Integer" @bind="getWithdrawalAmount" /></td>
            <td>Positive amount for additional investment and negative for withdrawals</td>
        </tr>
        <tr>
            <td>Average Annual Return</td>
            <td><input placeholder="Enter as 0.0 - 1.0" @bind="getAverageReturn" /></td>
            <td>Anticipated annual return for portfolio</td>
        </tr>
        <tr>
            <td>Standard Deviation</td>
            <td><input placeholder="Enter .10 for 10 Std Dev" @bind="getStandardDev" /></td>
            <td>Standard deviation of the portfolio.  Measure of risk and volatility</td>
        </tr>
        <tr>
            <td><label for="YearsToSimSelection">How Many Years to Sim</label></td>
            <td>             
                <select name="yearstosim" @onchange="GetYearsToSimSelection">
                    <option value="10">10 Years</option>
                    <option value="20">20 Years</option>
                    <option value="30">30 years</option>
                </select>
            </td>
            <td>How many years for the simulation to run</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" @onclick="SendUserInput" value="Run Monte Carlo" /></td>
            <td></td>
        </tr>

    </table>

    <MonteCarloResults />

</div>


<!--
<form>
    <label for="RebalancingSelection">Rebalance How Often</label>
    <select name="rebalance" @onchange="GetRebalancingSelection">
        <option value="None">None</option>
        <option value="Semi-Annual">Semi-Annual</option>
        <option value="Annual">Annual</option>
    </select>
</form>
-->
