@page "/userinput"

<h3>Monte Carlo Simulation Input</h3>



<!-- Get all user input except for asset allocation
    
    Initial Portfolio Amount
    Annual Withdrawel Amount
    Simulation Time Period
    Rebalancing - None, Annual or Semi-Annual
    Number of Simulations - Add later
    
    -->

<div>

    <br />
    <br />


    <input placeholder="Portfolio Amount" @bind="getPortfolioAmount" />
    <br />
    <br />
    <input placeholder="Annual Withdrawal Amount" @bind="getWithdrawalAmount" />
    <br />
    <br />
    <form >
        <label for="YearsToSimSelection">How Many Years to Sim</label>
        <select name="yearstosim" @onchange="GetYearsToSimSelection">
            <option value="10">10 Years</option>
            <option value="20">20 Years</option>
            <option value="30">30 years</option>
        </select>
    </form>
    <br />
    <form>
        <label for="RebalancingSelection">Rebalance How Often</label>
        <select name="rebalance"  @onchange="GetRebalancingSelection">
            <option value="None">None</option>
            <option value="Semi-Annual">Semi-Annual</option>
            <option value="Annual">Annual</option>
        </select>
    </form>

    <input type="button" @onclick="SendUserInput" value="Run Monte Carlo"/>

    <br />
   
    
       
</div>


@code {

    //stores starting value of our portfolio
    private int initialValue = 0;

    //stores annual withdrawal amount
    private int annualWithdrawal =0;

    //stores number of years to sim
    private int yearsToSim = 10;

    private string getWithdrawalAmount;

    private string getPortfolioAmount;

    //when to rebalance if ever
    private string rebalancingSelection = "None";

    private void GetUserInput()
    {
        initialValue = int.Parse(getPortfolioAmount);
        annualWithdrawal = int.Parse(getWithdrawalAmount);
    }


    private void GetRebalancingSelection(ChangeEventArgs args)
    {
        rebalancingSelection = args.Value.ToString();
    }

    private void GetYearsToSimSelection(ChangeEventArgs args)
    {
        yearsToSim = int.Parse(args.Value.ToString());
    }

    private void SendUserInput()
    {

    }


}
